<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMXYXNZM0GYKTiruKr1QynJmfqnw6jAu0</string>
	<key>GCM_SENDER_ID</key>
	<string>524443517265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdaniel.htasks</string>
	<key>PROJECT_ID</key>
	<string>htasks-d64aa</string>
	<key>STORAGE_BUCKET</key>
	<string>htasks-d64aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524443517265:ios:6d14398f56de256fe25370</string>
</dict>
</plist>